@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400');

*
{
    margin: 0;
    padding: 0;
}

body
{
    background: #FFF;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}

#header-section
{
    background: #232324;
    box-shadow: 0 0 10px #000000;
}

#main-section
{
    background: #fff;
    height: 1024px;

}

#main-flex
{
    flex-direction: column;
    align-items: center;

}

.region-left
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 200px;
    margin: 20px 0;
    padding: 0;
    background: #fff;
    outline: none;
}

.region-right
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 200px;
    margin: 20px 0;
    padding: 0;
    background: #fff;
    outline: none;
}

@media only screen and (min-device-width : 50px)
    and (max-device-width : 768px)
{

    .region-right
    {
        justify-content: flex-start;
    }

}

.col-justify-center
{
    display: flex;
    justify-content: center;
}

.region-border
{
    width: 70%;
    height: 100%;
    box-shadow: 0 0 10px #232324;
}

.inside-region
{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.candle
{
    width: 100%;
    height: auto;
}

ul
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
}

li
{
    margin: 0;  
    appearance: none;
    color: #efdedc;
    border: 2px solid #232324;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: all 0.2s linear;
}

li:hover
{
    background: #efdedc;
    border: 2px solid #efdedc;
    color: #232324;
    cursor: pointer;
}

/*FFD1CF D1CFFF D0FEE2 565759*/