@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400');

*
{
    margin: 0;
    padding: 0;
}

.container-fluid
{
 overflow: hidden;
}

body
{
    background: #FFF;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}

#header-section
{
    z-index: 2;
    position: relative;
    background: #232324;
    box-shadow: 0 0 10px #000000;
}

#main-background
{
    position: relative;
    z-index: 1;
    padding: 0;
    display: flex;
    align-content: center;
    align-items: center;
    object-fit: contain;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#blur-background
{
    width: 110%;
    height: 110%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;  
    transform: translateX(-10px);
    filter: brightness(60%);
    /*
    -moz-box-shadow: #000 30px 30px 100px;
    -webkit-box-shadow: #000 30px 30px 100px;
    box-shadow:#000 30px 30px 100px;
    */

}

#blur-background:after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 150px 60px rgba(0,0,0,1);
}

.box-over-blur
{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    font-size: 46px;
    color: #efdedc;
    background: rgba(35, 35, 36, 0.5);
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    /*    border-bottom: 3px solid #efdedc;*/
    box-shadow: 0 0 10px #000000;
}

#main-section
{
    background: #fff;
    height: 100%;

}

#main-flex
{
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#main-section h1
{
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 50px 0;
    color: #232324;
}

.region
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    margin: 20px 0;
    margin-bottom: 75px;
    padding: 0;
    background: #fff;
    outline: none;
}

.col-justify-center
{
    display: flex;
    justify-content: center;
}

.region-border
{
    width: 70%;
    height: 100%;
    box-shadow: 0 0 10px #232324;
    border-radius: 4px;
}

.inside-region
{
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.region-color:hover
{
    background: #efdedc;
    cursor: pointer;
}

.region-color:hover p
{
    color: #232324;
}

.region-color
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 50%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #232324;
    transition: all 0.1s linear;
} 

.region-color p
{
    margin: 0;
    font-size: 24px;   
    color: #efdedc;
    transition: all 0.1s linear;
}

.no-padding
{
 padding: 0;   
}

.align-right
{
    display: flex;
    justify-content: flex-end;   
}

.text-region
{
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ul
{
    z-index: 2;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
}

li
{
    z-index: 2;
    margin: 0;  
    appearance: none;
    color: #efdedc;
    border: 2px solid #232324;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: all 0.2s linear;
}

li:hover
{
    background: #efdedc;
    border: 2px solid #efdedc;
    color: #232324;
    cursor: pointer;
}

footer
{
    margin: 0;
    padding: 0;
    margin-top: 100px;
    height: 50px;
    box-shadow: 0 0 10px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #efdedc;
    background: #232324;
}

footer p
{
    margin: 0;   
}


#gallery, #price-list, #contact
{
 display: none;   
}


.visible
{
    display: flex !important; 
    
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*FFD1CF D1CFFF D0FEE2 565759*/